<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>
      <%= data.appName %>
      <% if (data.clientType !== data.defaultType) { %>
        | <%= data.clientType %>
      <% } %>
    </title>

    <link rel="stylesheet" href="<%= data.assetsDomain %>css/main.css?<%= data.version %>">
  </head>

  <body class="loading">
    <div id="container" class="container"></div>

    <script>
      // configuration sent from soundworks server
      window.soundworksConfig = JSON.parse('<%- JSON.stringify(data) %>');
    </script>

    <% if (data.env === 'production') { %>
    <script src="<%= data.assetsDomain %>build/<%= data.clientType %>.min.js"></script>
    <% } else { %>
    <script src="<%= data.assetsDomain %>build/<%= data.clientType %>.js"></script>
    <% } %>

    <% if (data.env === 'production' && data.gaId) { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= data.gaId %>', 'auto');
      ga('send', 'pageview');
    </script>
    <% } %>

  </body>
</html>
